body>nav>ul>li>a:hover {
    border-style: ridge;
    border-color :cornflowerblue;
    font-size: 120%;
}

nav>ul>li>a{
    text-decoration: none;
    color : green;
}

main>section>ol>li {
    list-style-type: square;
}
#TitreNav {
	text-align:center;
	font-size:20px;
	font-family:"Courier New", Courier, monospace;
	text-decoration:underline;
}

main {
	margin:100px 0px 40px 25%;
	background-image:url("../images/FondDossier.png");
	width:70%;
    text-align:center;
	border:solid grey;
}

main>section>ol>li>p {
    text-align: left;
    padding-left: 3%;
}
#Source {
    font-weight: normal;
}
/*Balise pour inserer une photo*/
#InsererMilieu {
	font-size:12px;
    font-weight: bold;
	word-wrap: break-word;
    text-align: center;
    width:95%;
    max-width: 300px;
    display: block;
    vertical-align: middle;
    border:0px;
    margin-left: auto !important;
    margin-right: auto !important;
}
#TsT{
    margin-bottom: 10px;
}
#TsT *{
    vertical-align:middle;
    text-align:center;
    margin:0px;
}
/*Balise de titre*/
h1 {
    font-size:40pt;
    font-weight: bold;
    font-family: Impact, fantasy;
    letter-spacing: -1pt;
    margin-bottom: 10px !important;
}
/*Balise de sous-titre*/
h2 {
    font-size:15pt;
    font-family:Verdana, sans-serif;
    height:100%;
}
/*Petit titre dans le contenu*/
h3{
    font-size:14.25pt;
    font-weight:bolder;
    margin-bottom: 0px !important;
}
p {
    font-size:13.5pt;
    margin-top:0px;
}
#Article {
    text-align: justify;
    font-family: Arial Narrow, sans-serif;
    column-count: 3;
    vertical-align: middle;
    break-inside: avoid-column;
    page-break-inside: avoid;
    overflow-wrap: break-word;
}
#Article *{
    margin:0px 2% 10px 2%;
}
#InsererMilieu+p{
    margin-top: 1px;
}
#redacteur {
    margin-bottom : 1px;
    color : black;
    font-weight: bold;
    background-color: gray;
    border-bottom: 5px black solid;
    border-top: 5px black solid;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.citationText {
    color : darkslateblue;
    text-align: left;
    height:30px;
    font-style: italic;
    font-size: 10pt;
    font-family:"Courier New", Courier, monospace;
    width: 30px;
}
.citationText > img {
    width: 20px;
    border-style: none;
}
.miseEnEvidenceDico {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: brown;
    margin: 0px !important;
}
.miseEnEvidenceDico>a {
    text-decoration: none;
    color:black;
    margin: 0px !important;
}
.evidence {
    font-family: OCR A Std, monospace;
    font-style: italic;
    letter-spacing: -2pt;
    margin:0px !important;
}

nav {
	position:absolute;
	border-style:solid;
	border-color:green;
	border-width:thin;
  	background-color: black;
	color: green;
	width:22%;
	margin:0%;
	padding:2px;
	left:5px;
	top:100px;
    overflow-wrap: break-word;
}