body {
	background-image: url("../images/FondPage.png");
    background-size: 300px;
}

header, footer{
	text-align:center;

}
header{
  	position: absolute;
	width:96%;
	margin: 0% 2% 0% 2%;
	top:1%;
	height:60px;
 	font-size:50px;
	vertical-align:middle;
	background-color:black;
	color:white;
}

footer{
	position:fixed;
	vertical-align:middle;
	margin:0px 0px 0px 0px;
	width:100%;
	left:0px;
	height:30px;
	bottom:0px;
	vertical-align:middle;
	background-color:grey;
}

body>section {
    margin-left:10%;
}

header>a{
	text-decoration:none;
	color:white;
}

a{
    color:black;
}