main {
  margin-left:10%;
  width:80%;
}
main *{
    text-align: center;
}
section {
    width:80%;
    margin-left:10%;
    column-count: 1;
}
p{
    font-family: OCR A Std, monospace;
}
textarea {
    width:50%;
    height:100px;
    text-align:left;
}
form {
    margin-bottom:30px;
}
form *{
    display: block;
    margin:0px auto 5px auto;
}
img{
    width: 200px;
}
.Portrait{
    width:50%;
    border:5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: aliceblue;
}
.Portrait p{
    font-size: 12pt;
}