main {
  margin-left:10%;
  width:80%;
}
main *{
    text-align: center;
}
section {
    width:90%;
    margin-left:5%;
    column-count: 1;
}
li{
    text-align: left;
    margin-top: 30px;
    font-family: OCR A Std, monospace;
}
mark {
    background-color: darkkhaki;
}