table{
	position:absolute;
	margin-top:160px;
	width:80%;
	height: 75%;
	border-collapse:collapse;
}
#hautDossier{
	height: 5%;
}
#hautFeuille{
	height: 10px;
}
#basDossier{
	background-image:url("../images/FondDossier.png");
	border: solid lightgrey;
    text-align: center;
}

td>h1{
	color:red;
	font-family:"Courier New", Courier, monospace;
	text-decoration:underline;
	text-align: center;
	font-size: 300%;
}

td>p{
	text-align:center;
	font-size:150%;
}
.feuille{
    padding:0px;
    width:113px;
}

img{
    border:solid lightgrey;
    margin-bottom: 2px;
    width:110px;
}

.premier {
    position:relative;
    top:0px;
}

.premier *{
    position:absolute;
    top:-17px;
    left:-2px;
    height:30px;
    background-color: wheat;
}

.second {
    position:relative;
}

.second *{
    position:absolute;
    display: none;
    left:-2px;
    top:-47px;
    height:60px;
    background-color: wheat;
}

.feuille:hover *{
    display:inline;
}